footer 
    .container 
        .flex
            nav 
                ul 
                    li.nav-item 
                        a(href="#").nav-link Мобильные приложения
                    li.nav-item 
                        a(href="#").nav-link Помощь
                    li.nav-item 
                        a(href="#").nav-link Платные услуги
                    li.nav-item 
                        a(href="#").nav-link Бизнес на OLX
                    li.nav-item 
                        a(href="#").nav-link Реклама на сайте
                    li.nav-item 
                        a(href="#").nav-link Условия использования
                    li.nav-item 
                        a(href="#").nav-link Политика конфиденциальности
            nav 
                ul
                    li.nav-item 
                        a(href="#").nav-link Как продавать и покупать?
                    li.nav-item 
                        a(href="#").nav-link Правила безопасности
                    li.nav-item 
                        a(href="#").nav-link Карта сайта
                    li.nav-item 
                        a(href="#").nav-link Карта регионов
                    li.nav-item 
                        a(href="#").nav-link Карьера в OLX
                    li.nav-item 
                        a(href="#").nav-link Обратная связь
            nav.footer-logo
                .footer-img 
                    img(src="https://static.olx.uz/static/olxuz/packed/font/2fc9f37e6707acfc0e1255cec57c49a986.svg" class="foot" alt="")
                    img(src="https://static.olx.uz/static/olxuz/packed/font/2fccd2faa9395d5faed1011516c64dc929.svg" class="foot" alt="")
                .footer-icons
                    i.fab.fa-facebook-f
                    i.fab.fa-instagram
                    i.fab.fa-twitter
                    i.fab.fa-telegram
                    i.fab.fa-youtube
                .foot-phone 
                    .card-body 
                        span +998 99 266 84 79 
.footer-bottom 
    span CopyRIght &copy; Technology 2021 Online Shop

