extends layout 
block home
    .row 
     each db in datas
      .col-3      
        .card_product 
            .card_img 
                img(src=""+db.photo alt="rasm")
                span.sale 
            .card_text
                h2= db.title
                .again
                    p.price= db.price  
                    <i class="fas fa-money-bill"></i>
                .card_bottom
                    span 50  
                    span= db.date.toDateString() 
                .buy 
                    button(type="submit" ) Sotib olish 